# Inspecting a DataFrame Object
We will be working with the `data/earthquakes.csv` file again, so we need to handle our imports and read it in.

## About the Data
In this notebook, we will be working with Earthquake data from September 18, 2018 - October 13, 2018 (obtained from the US Geological Survey (USGS) using the [USGS API](https://earthquake.usgs.gov/fdsnws/event/1/))

## Setup

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/earthquakes.csv')

## Examining dataframes
### Is it empty?

In [2]:
df.empty

False

### What are the dimensions?

In [3]:
df.shape

(9332, 26)

### What does the data look like?
View rows from the top with `head()`:

In [4]:
df.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...

View rows from the bottom with `tail()`. Let's view 2 rows:

In [5]:
df.tail(2)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
9330,NaN,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01865,NaN,61.0,",ci38063959,",1.10,ml,...,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01698,NaN,39.0,",ci38063935,",0.66,ml,...,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

### What columns do we have?
We know there are 26 columns, but we can't see them all.

In [6]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

### What data types do we have?

In [7]:
df.dtypes

alert       object
cdi        float64
code        object
detail      object
dmin       float64
felt       float64
gap        float64
ids         object
mag        float64
magType     object
mmi        float64
net         object
nst        float64
place       object
rms        float64
sig          int64
sources     object
status      object
time         int64
title       object
tsunami      int64
type        object
types       object
tz         float64
updated      int64
url         object
dtype: object

### Getting extra info and finding nulls

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 26 columns):
alert      59 non-null object
cdi        329 non-null float64
code       9332 non-null object
detail     9332 non-null object
dmin       6139 non-null float64
felt       329 non-null float64
gap        6164 non-null float64
ids        9332 non-null object
mag        9331 non-null float64
magType    9331 non-null object
mmi        93 non-null float64
net        9332 non-null object
nst        5364 non-null float64
place      9332 non-null object
rms        9332 non-null float64
sig        9332 non-null int64
sources    9332 non-null object
status     9332 non-null object
time       9332 non-null int64
title      9332 non-null object
tsunami    9332 non-null int64
type       9332 non-null object
types      9332 non-null object
tz         9331 non-null float64
updated    9332 non-null int64
url        9332 non-null object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.4+ MB

## Describing and Summarizing
### Get summary statistics

In [9]:
df.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,329.000000,6139.000000,329.000000,6164.000000,9331.000000,93.000000,5364.000000,9332.000000,9332.000000,9.332000e+03,9332.000000,9331.000000,9.332000e+03
mean,2.754711,0.544925,12.310030,121.506588,1.497345,3.651398,19.053878,0.362122,56.899914,1.538284e+12,0.006537,-451.990140,1.538537e+12
std,1.010637,2.214305,48.954944,72.962363,1.203347,1.790523,15.492315,0.317784,91.872163,6.080306e+08,0.080589,231.752571,6.564135e+08
min,0.000000,0.000648,0.000000,12.000000,-1.260000,0.000000,0.000000,0.000000,0.000000,1.537229e+12,0.000000,-720.000000,1.537230e+12
25%,2.000000,0.020425,1.000000,66.142500,0.720000,2.680000,8.000000,0.119675,8.000000,1.537793e+12,0.000000,-540.000000,1.537996e+12
50%,2.700000,0.059050,2.000000,105.000000,1.300000,3.720000,15.000000,0.210000,26.000000,1.538245e+12,0.000000,-480.000000,1.538621e+12
75%,3.300000,0.177250,5.000000,159.000000,1.900000,4.570000,25.000000,0.590000,56.000000,1.538766e+12,0.000000,-480.000000,1.539110e+12
max,8.400000,53.737000,580.000000,355.910000,7.500000,9.120000,172.000000,1.910000,2015.000000,1.539475e+12,1.000000,720.000000,1.539537e+12

Specifying the 5th and 95th percentile:

In [10]:
df.describe(percentiles=[0.05, 0.95])

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,329.000000,6139.000000,329.000000,6164.000000,9331.000000,93.000000,5364.000000,9332.000000,9332.000000,9.332000e+03,9332.000000,9331.000000,9.332000e+03
mean,2.754711,0.544925,12.310030,121.506588,1.497345,3.651398,19.053878,0.362122,56.899914,1.538284e+12,0.006537,-451.990140,1.538537e+12
std,1.010637,2.214305,48.954944,72.962363,1.203347,1.790523,15.492315,0.317784,91.872163,6.080306e+08,0.080589,231.752571,6.564135e+08
min,0.000000,0.000648,0.000000,12.000000,-1.260000,0.000000,0.000000,0.000000,0.000000,1.537229e+12,0.000000,-720.000000,1.537230e+12
5%,2.000000,0.005491,1.000000,35.000000,-0.040000,0.000000,4.000000,0.030000,0.000000,1.537344e+12,0.000000,-600.000000,1.537387e+12
50%,2.700000,0.059050,2.000000,105.000000,1.300000,3.720000,15.000000,0.210000,26.000000,1.538245e+12,0.000000,-480.000000,1.538621e+12
95%,4.300000,2.678900,40.200000,276.000000,4.400000,6.380000,49.000000,0.960000,298.000000,1.539319e+12,0.000000,-60.000000,1.539400e+12
max,8.400000,53.737000,580.000000,355.910000,7.500000,9.120000,172.000000,1.910000,2015.000000,1.539475e+12,1.000000,720.000000,1.539537e+12

Describe specific data types:

In [11]:
df.describe(include=np.object)

,alert,code,detail,ids,magType,net,place,sources,status,title,type,types,url
count,59,9332,9332,9332,9331,9332,9332,9332,9332,9332,9332,9332,9332
unique,2,9332,9332,9332,10,14,5433,52,2,7807,5,42,9332
top,green,73091366,https://earthquake.usgs.gov/fdsnws/event/1/que...,",ak20260343,",ml,ak,"10km NE of Aguanga, CA",",ak,",reviewed,"M 0.4 - 10km NE of Aguanga, CA",earthquake,",geoserve,origin,phase-data,",https://earthquake.usgs.gov/earthquakes/eventp...
freq,58,1,1,1,6803,3166,306,2981,7797,55,9081,5301,1

Or describe all of them:

In [12]:
df.describe(include='all')

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
count,59,329.000000,9332,9332,6139.000000,329.000000,6164.000000,9332,9331.000000,9331,...,9332,9332,9.332000e+03,9332,9332.000000,9332,9332,9331.000000,9.332000e+03,9332
unique,2,NaN,9332,9332,NaN,NaN,NaN,9332,NaN,10,...,52,2,NaN,7807,NaN,5,42,NaN,NaN,9332
top,green,NaN,73091366,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20260343,",NaN,ml,...,",ak,",reviewed,NaN,"M 0.4 - 10km NE of Aguanga, CA",NaN,earthquake,",geoserve,origin,phase-data,",NaN,NaN,https://earthquake.usgs.gov/earthquakes/eventp...
freq,58,NaN,1,1,NaN,NaN,NaN,1,NaN,6803,...,2981,7797,NaN,55,NaN,9081,5301,NaN,NaN,1
mean,NaN,2.754711,NaN,NaN,0.544925,12.310030,121.506588,NaN,1.497345,NaN,...,NaN,NaN,1.538284e+12,NaN,0.006537,NaN,NaN,-451.990140,1.538537e+12,NaN
std,NaN,1.010637,NaN,NaN,2.214305,48.954944,72.962363,NaN,1.203347,NaN,...,NaN,NaN,6.080306e+08,NaN,0.080589,NaN,NaN,231.752571,6.564135e+08,NaN
min,NaN,0.000000,NaN,NaN,0.000648,0.000000,12.000000,NaN,-1.260000,NaN,...,NaN,NaN,1.537229e+12,NaN,0.000000,NaN,NaN,-720.000000,1.537230e+12,NaN
25%,NaN,2.000000,NaN,NaN,0.020425,1.000000,66.142500,NaN,0.720000,NaN,...,NaN,NaN,1.537793e+12,NaN,0.000000,NaN,NaN,-540.000000,1.537996e+12,NaN
50%,NaN,2.700000,NaN,NaN,0.059050,2.000000,105.000000,NaN,1.300000,NaN,...,NaN,NaN,1.538245e+12,NaN,0.000000,NaN,NaN,-480.000000,1.538621e+12,NaN
75%,NaN,3.300000,NaN,NaN,0.177250,5.000000,159.000000,NaN,1.900000,NaN,...,NaN,NaN,1.538766e+12,NaN,0.000000,NaN,NaN,-480.000000,1.539110e+12,NaN
max,NaN,8.400000,NaN,NaN,53.737000,580.000000,355.910000,NaN,7.500000,NaN,...,NaN,NaN,1.539475e+12,NaN,1.000000,NaN,NaN,720.000000,1.539537e+12,NaN

This works on columns also:

In [13]:
df.felt.describe()

count    329.000000
mean      12.310030
std       48.954944
min        0.000000
25%        1.000000
50%        2.000000
75%        5.000000
max      580.000000
Name: felt, dtype: float64

There are methods for specific statistics as well. For example, finding the unique values in the `alert` column:

In [14]:
df.alert.unique()

array([nan, 'green', 'red'], dtype=object)

We can then use `value_counts()` to see how many of each unique value we have:

In [15]:
df.alert.value_counts()

green    58
red       1
Name: alert, dtype: int64