# Slicing and Dicing
We will be working with the `data/earthquakes.csv` file again, so we need to handle our imports and read it in.

## About the Data
In this notebook, we will be working with Earthquake data from September 18, 2018 - October 13, 2018 (obtained from the US Geological Survey (USGS) using the [USGS API](https://earthquake.usgs.gov/fdsnws/event/1/))

## Setup

In [1]:
import pandas as pd

df = pd.read_csv('data/earthquakes.csv')

## Selection of Columns
Grab an entire column using attribute notation:

In [2]:
df.mag

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
5       2.61
6       1.70
7       1.13
8       0.92
9       4.70
10      0.50
11      2.77
12      0.50
13      4.50
14      2.13
15      2.00
16      0.72
17      1.69
18      2.00
19      0.92
20      2.82
21      1.70
22      0.81
23      0.55
24      0.67
25      2.10
26      2.80
27      1.10
28      1.80
29      0.93
        ...
9302    1.42
9303    1.30
9304    5.10
9305   -0.27
9306    2.86
9307    2.44
9308    2.10
9309    4.80
9310    1.10
9311    3.27
9312    2.50
9313    1.50
9314    2.00
9315    2.74
9316    3.08
9317    2.64
9318    1.10
9319    4.40
9320    2.81
9321    4.30
9322    0.40
9323    0.60
9324    1.06
9325    0.51
9326    1.82
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

Grab an entire column using dictionary syntax:

In [3]:
df['mag']

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
5       2.61
6       1.70
7       1.13
8       0.92
9       4.70
10      0.50
11      2.77
12      0.50
13      4.50
14      2.13
15      2.00
16      0.72
17      1.69
18      2.00
19      0.92
20      2.82
21      1.70
22      0.81
23      0.55
24      0.67
25      2.10
26      2.80
27      1.10
28      1.80
29      0.93
        ...
9302    1.42
9303    1.30
9304    5.10
9305   -0.27
9306    2.86
9307    2.44
9308    2.10
9309    4.80
9310    1.10
9311    3.27
9312    2.50
9313    1.50
9314    2.00
9315    2.74
9316    3.08
9317    2.64
9318    1.10
9319    4.40
9320    2.81
9321    4.30
9322    0.40
9323    0.60
9324    1.06
9325    0.51
9326    1.82
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

Selecting multiple columns:

In [4]:
df[['mag', 'title']]

       mag                                              title
0     1.35                      M 1.4 - 9km NE of Aguanga, CA
1     1.29                      M 1.3 - 9km NE of Aguanga, CA
2     3.42                      M 3.4 - 8km NE of Aguanga, CA
3     0.44                      M 0.4 - 9km NE of Aguanga, CA
4     2.16                      M 2.2 - 10km NW of Avenal, CA
5     2.61  M 2.6 - 55km ESE of Punta Cana, Dominican Repu...
6     1.70               M 1.7 - 105km W of Talkeetna, Alaska
7     1.13                   M 1.1 - 10km NW of Parkfield, CA
8     0.92                  M 0.9 - 6km NW of The Geysers, CA
9     4.70            M 4.7 - 219km SSE of Saparua, Indonesia
10    0.50                     M 0.5 - 10km NE of Aguanga, CA
11    2.77  M 2.8 - 53km SE of Punta Cana, Dominican Republic
12    0.50                      M 0.5 - 9km NE of Aguanga, CA
13    4.50         M 4.5 - 120km SSW of Banda Aceh, Indonesia
14    2.13                   M 2.1 - 14km NW of Parkfield, CA
15    2.00       M 2.0 - 156km WNW of Haines Junction, Canada
16    0.72                   M 0.7 - 2km N of The Geysers, CA
17    1.69              M 1.7 - 2km S of Maricao, Puerto Rico
18    2.00               M 2.0 - 57km SSW of Kaktovik, Alaska
19    0.92                    M 0.9 - 4km ENE of Calimesa, CA
20    2.82  M 2.8 - 61km N of Tierras Nuevas Poniente, Pue...
21    1.70                 M 1.7 - 64km SSW of Salcha, Alaska
22    0.81                 M 0.8 - 4km NW of San Clemente, CA
23    0.55                M 0.6 - 27km E of Coso Junction, CA
24    0.67                   M 0.7 - 6km SSE of Idyllwild, CA
25    2.10                   M 2.1 - 14km NW of Parkfield, CA
26    2.80        M 2.8 - 111km NNW of Arctic Village, Alaska
27    1.10          M 1.1 - 43km S of Redoubt Volcano, Alaska
28    1.80            M 1.8 - 86km SW of Anchor Point, Alaska
29    0.93                   M 0.9 - 15km NW of Parkfield, CA
...    ...                                                ...
9302  1.42                  M 1.4 - 6km NW of The Geysers, CA
9303  1.30         M 1.3 - 78km WNW of Arctic Village, Alaska
9304  5.10   M 5.1 - 34km NW of Finschhafen, Papua New Guinea
9305 -0.27          M -0.3 - 49km W of Tanaga Volcano, Alaska
9306  2.86        M 2.9 - 80km NW of San Antonio, Puerto Rico
9307  2.44        M 2.4 - 69km NW of San Antonio, Puerto Rico
9308  2.10                M 2.1 - 70km NW of Nikolski, Alaska
9309  4.80           M 4.8 - 11km ESE of Rotorua, New Zealand
9310  1.10          M 1.1 - 59km NNE of Sutton-Alpine, Alaska
9311  3.27                     M 3.3 - 68km W of Petrolia, CA
9312  2.50         M 2.5 - 134km NW of Arctic Village, Alaska
9313  1.50               M 1.5 - 88km ESE of Whittier, Alaska
9314  2.00        M 2.0 - 132km WNW of Arctic Village, Alaska
9315  2.74       M 2.7 - 36km NNW of San Antonio, Puerto Rico
9316  3.08                  M 3.1 - 5km SW of Delta, B.C., MX
9317  2.64                  M 2.6 - 4km SW of Delta, B.C., MX
9318  1.10                    M 1.1 - 11km E of Healy, Alaska
9319  4.40  M 4.4 - 58km W of San Antonio de los Cobres, A...
9320  2.81                  M 2.8 - 8km NW of Delta, B.C., MX
9321  4.30             M 4.3 - 19km NE of Cateel, Philippines
9322  0.40               M 0.4 - 8km ENE of Mammoth Lakes, CA
9323  0.60               M 0.6 - 4km ENE of Mammoth Lakes, CA
9324  1.06                        M 1.1 - 2km W of Julian, CA
9325  0.51                      M 0.5 - 4km WNW of Julian, CA
9326  1.82                        M 1.8 - 4km W of Julian, CA
9327  0.62               M 0.6 - 9km ENE of Mammoth Lakes, CA
9328  1.00                        M 1.0 - 3km W of Julian, CA
9329  2.40           M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330  1.10                      M 1.1 - 9km NE of Aguanga, CA
9331  0.66                      M 0.7 - 9km NE of Aguanga, CA

[9332 rows x 2 columns]

Selecting columns using list comprehensions and string operations offered by pandas `Series` objects:

In [5]:
df[
    ['title', 'time']
    + [col for col in df.columns if col.startswith('mag')]
]

,title,time,mag,magType
0,"M 1.4 - 9km NE of Aguanga, CA",1539475168010,1.35,ml
1,"M 1.3 - 9km NE of Aguanga, CA",1539475129610,1.29,ml
2,"M 3.4 - 8km NE of Aguanga, CA",1539475062610,3.42,ml
3,"M 0.4 - 9km NE of Aguanga, CA",1539474978070,0.44,ml
4,"M 2.2 - 10km NW of Avenal, CA",1539474716050,2.16,md
5,"M 2.6 - 55km ESE of Punta Cana, Dominican Repu...",1539473686440,2.61,md
6,"M 1.7 - 105km W of Talkeetna, Alaska",1539473176017,1.70,ml
7,"M 1.1 - 10km NW of Parkfield, CA",1539473060280,1.13,md
8,"M 0.9 - 6km NW of The Geysers, CA",1539473042310,0.92,md
9,"M 4.7 - 219km SSE of Saparua, Indonesia",1539472814760,4.70,mb
10,"M 0.5 - 10km NE of Aguanga, CA",1539471831030,0.50,ml
11,"M 2.8 - 53km SE of Punta Cana, Dominican Republic",1539471621260,2.77,md
12,"M 0.5 - 9km NE of Aguanga, CA",1539470934710,0.50,ml
13,"M 4.5 - 120km SSW of Banda Aceh, Indonesia",1539470898340,4.50,mb
14,"M 2.1 - 14km NW of Parkfield, CA",1539470851950,2.13,md
15,"M 2.0 - 156km WNW of Haines Junction, Canada",1539470304219,2.00,ml
16,"M 0.7 - 2km N of The Geysers, CA",1539470237230,0.72,md
17,"M 1.7 - 2km S of Maricao, Puerto Rico",1539468879730,1.69,md
18,"M 2.0 - 57km SSW of Kaktovik, Alaska",1539468687232,2.00,ml
19,"M 0.9 - 4km ENE of Calimesa, CA",1539468671340,0.92,ml
20,"M 2.8 - 61km N of Tierras Nuevas Poniente, Pue...",1539467908560,2.82,md
21,"M 1.7 - 64km SSW of Salcha, Alaska",1539467905609,1.70,ml
22,"M 0.8 - 4km NW of San Clemente, CA",1539467508540,0.81,ml
23,"M 0.6 - 27km E of Coso Junction, CA",1539466580200,0.55,ml
24,"M 0.7 - 6km SSE of Idyllwild, CA",1539466409430,0.67,ml
25,"M 2.1 - 14km NW of Parkfield, CA",1539466356170,2.10,md
26,"M 2.8 - 111km NNW of Arctic Village, Alaska",1539466288954,2.80,ml
27,"M 1.1 - 43km S of Redoubt Volcano, Alaska",1539465520462,1.10,ml
28,"M 1.8 - 86km SW of Anchor Point, Alaska",1539464607849,1.80,ml
29,"M 0.9 - 15km NW of Parkfield, CA",1539464503490,0.93,md
...,...,...,...,...
9302,"M 1.4 - 6km NW of The Geysers, CA",1537236549440,1.42,md
9303,"M 1.3 - 78km WNW of Arctic Village, Alaska",1537236466605,1.30,ml
9304,"M 5.1 - 34km NW of Finschhafen, Papua New Guinea",1537236235470,5.10,mb
9305,"M -0.3 - 49km W of Tanaga Volcano, Alaska",1537235444640,-0.27,ml
9306,"M 2.9 - 80km NW of San Antonio, Puerto Rico",1537234997910,2.86,md
9307,"M 2.4 - 69km NW of San Antonio, Puerto Rico",1537234935040,2.44,md
9308,"M 2.1 - 70km NW of Nikolski, Alaska",1537234649752,2.10,ml
9309,"M 4.8 - 11km ESE of Rotorua, New Zealand",1537234582260,4.80,mb
9310,"M 1.1 - 59km NNE of Sutton-Alpine, Alaska",1537233698073,1.10,ml
9311,"M 3.3 - 68km W of Petrolia, CA",1537233245200,3.27,ml
9312,"M 2.5 - 134km NW of Arctic Village, Alaska",1537233039227,2.50,ml
9313,"M 1.5 - 88km ESE of Whittier, Alaska",1537232989781,1.50,ml
9314,"M 2.0 - 132km WNW of Arctic Village, Alaska",1537232951978,2.00,ml
9315,"M 2.7 - 36km NNW of San Antonio, Puerto Rico",1537232857340,2.74,md
9316,"M 3.1 - 5km SW of Delta, B.C., MX",1537232823500,3.08,ml
9317,"M 2.6 - 4km SW of Delta, B.C., MX",1537232796810,2.64,ml
9318,"M 1.1 - 11km E of Healy, Alaska",1537232056478,1.10,ml
9319,"M 4.4 - 58km W of San Antonio de los Cobres, A...",1537231966170,4.40,mb
9320,"M 2.8 - 8km NW of Delta, B.C., MX",1537231284810,2.81,ml
9321,"M 4.3 - 19km NE of Cateel, Philippines",1537231275500,4.30,mb
9322,"M 0.4 - 8km ENE of Mammoth Lakes, CA",1537231090700,0.40,md
9323,"M 0.6 - 4km ENE of Mammoth Lakes, CA",1537230828440,0.60,md
9324,"M 1.1 - 2km W of Julian, CA",1537230357100,1.06,ml
9325,"M 0.5 - 4km WNW of Julian, CA",1537230344890,0.51,ml
9326,"M 1.8 - 4km W of Julian, CA",1537230230260,1.82,ml
9327,"M 0.6 - 9km ENE of Mammoth Lakes, CA",1537230228060,0.62,md
9328,"M 1.0 - 3km W of Julian, CA",1537230135130,1.00,ml
9329,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",1537229908180,2.40,md
9330,"M 1.1 - 9km NE of Aguanga, CA",1537229545350,1.10,ml
9331,"M 0.7 - 9km NE of Aguanga, CA",1537228864470,0.66,ml

Breaking down this example:
1. the list comprehension

In [6]:
[col for col in df.columns if col.startswith('mag')]

['mag', 'magType']

2. assembling the list

In [7]:
['title', 'time'] \
+ [col for col in df.columns if col.startswith('mag')]

['title', 'time', 'mag', 'magType']

3. using this list as the list of columns

In [8]:
df[
    ['title', 'time']
    + [col for col in df.columns if col.startswith('mag')]
]

,title,time,mag,magType
0,"M 1.4 - 9km NE of Aguanga, CA",1539475168010,1.35,ml
1,"M 1.3 - 9km NE of Aguanga, CA",1539475129610,1.29,ml
2,"M 3.4 - 8km NE of Aguanga, CA",1539475062610,3.42,ml
3,"M 0.4 - 9km NE of Aguanga, CA",1539474978070,0.44,ml
4,"M 2.2 - 10km NW of Avenal, CA",1539474716050,2.16,md
5,"M 2.6 - 55km ESE of Punta Cana, Dominican Repu...",1539473686440,2.61,md
6,"M 1.7 - 105km W of Talkeetna, Alaska",1539473176017,1.70,ml
7,"M 1.1 - 10km NW of Parkfield, CA",1539473060280,1.13,md
8,"M 0.9 - 6km NW of The Geysers, CA",1539473042310,0.92,md
9,"M 4.7 - 219km SSE of Saparua, Indonesia",1539472814760,4.70,mb
10,"M 0.5 - 10km NE of Aguanga, CA",1539471831030,0.50,ml
11,"M 2.8 - 53km SE of Punta Cana, Dominican Republic",1539471621260,2.77,md
12,"M 0.5 - 9km NE of Aguanga, CA",1539470934710,0.50,ml
13,"M 4.5 - 120km SSW of Banda Aceh, Indonesia",1539470898340,4.50,mb
14,"M 2.1 - 14km NW of Parkfield, CA",1539470851950,2.13,md
15,"M 2.0 - 156km WNW of Haines Junction, Canada",1539470304219,2.00,ml
16,"M 0.7 - 2km N of The Geysers, CA",1539470237230,0.72,md
17,"M 1.7 - 2km S of Maricao, Puerto Rico",1539468879730,1.69,md
18,"M 2.0 - 57km SSW of Kaktovik, Alaska",1539468687232,2.00,ml
19,"M 0.9 - 4km ENE of Calimesa, CA",1539468671340,0.92,ml
20,"M 2.8 - 61km N of Tierras Nuevas Poniente, Pue...",1539467908560,2.82,md
21,"M 1.7 - 64km SSW of Salcha, Alaska",1539467905609,1.70,ml
22,"M 0.8 - 4km NW of San Clemente, CA",1539467508540,0.81,ml
23,"M 0.6 - 27km E of Coso Junction, CA",1539466580200,0.55,ml
24,"M 0.7 - 6km SSE of Idyllwild, CA",1539466409430,0.67,ml
25,"M 2.1 - 14km NW of Parkfield, CA",1539466356170,2.10,md
26,"M 2.8 - 111km NNW of Arctic Village, Alaska",1539466288954,2.80,ml
27,"M 1.1 - 43km S of Redoubt Volcano, Alaska",1539465520462,1.10,ml
28,"M 1.8 - 86km SW of Anchor Point, Alaska",1539464607849,1.80,ml
29,"M 0.9 - 15km NW of Parkfield, CA",1539464503490,0.93,md
...,...,...,...,...
9302,"M 1.4 - 6km NW of The Geysers, CA",1537236549440,1.42,md
9303,"M 1.3 - 78km WNW of Arctic Village, Alaska",1537236466605,1.30,ml
9304,"M 5.1 - 34km NW of Finschhafen, Papua New Guinea",1537236235470,5.10,mb
9305,"M -0.3 - 49km W of Tanaga Volcano, Alaska",1537235444640,-0.27,ml
9306,"M 2.9 - 80km NW of San Antonio, Puerto Rico",1537234997910,2.86,md
9307,"M 2.4 - 69km NW of San Antonio, Puerto Rico",1537234935040,2.44,md
9308,"M 2.1 - 70km NW of Nikolski, Alaska",1537234649752,2.10,ml
9309,"M 4.8 - 11km ESE of Rotorua, New Zealand",1537234582260,4.80,mb
9310,"M 1.1 - 59km NNE of Sutton-Alpine, Alaska",1537233698073,1.10,ml
9311,"M 3.3 - 68km W of Petrolia, CA",1537233245200,3.27,ml
9312,"M 2.5 - 134km NW of Arctic Village, Alaska",1537233039227,2.50,ml
9313,"M 1.5 - 88km ESE of Whittier, Alaska",1537232989781,1.50,ml
9314,"M 2.0 - 132km WNW of Arctic Village, Alaska",1537232951978,2.00,ml
9315,"M 2.7 - 36km NNW of San Antonio, Puerto Rico",1537232857340,2.74,md
9316,"M 3.1 - 5km SW of Delta, B.C., MX",1537232823500,3.08,ml
9317,"M 2.6 - 4km SW of Delta, B.C., MX",1537232796810,2.64,ml
9318,"M 1.1 - 11km E of Healy, Alaska",1537232056478,1.10,ml
9319,"M 4.4 - 58km W of San Antonio de los Cobres, A...",1537231966170,4.40,mb
9320,"M 2.8 - 8km NW of Delta, B.C., MX",1537231284810,2.81,ml
9321,"M 4.3 - 19km NE of Cateel, Philippines",1537231275500,4.30,mb
9322,"M 0.4 - 8km ENE of Mammoth Lakes, CA",1537231090700,0.40,md
9323,"M 0.6 - 4km ENE of Mammoth Lakes, CA",1537230828440,0.60,md
9324,"M 1.1 - 2km W of Julian, CA",1537230357100,1.06,ml
9325,"M 0.5 - 4km WNW of Julian, CA",1537230344890,0.51,ml
9326,"M 1.8 - 4km W of Julian, CA",1537230230260,1.82,ml
9327,"M 0.6 - 9km ENE of Mammoth Lakes, CA",1537230228060,0.62,md
9328,"M 1.0 - 3km W of Julian, CA",1537230135130,1.00,ml
9329,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",1537229908180,2.40,md
9330,"M 1.1 - 9km NE of Aguanga, CA",1537229545350,1.10,ml
9331,"M 0.7 - 9km NE of Aguanga, CA",1537228864470,0.66,ml

## Slicing
### Selecting rows
Using row numbers (inclusive of first index, exclusive of last):

In [9]:
df[100:103]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
100,NaN,NaN,20280310,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20280310,",1.20,ml,...,",ak,",automatic,1539435449480,"M 1.2 - 25km NW of Ester, Alaska",0,earthquake,",geoserve,origin,",-540.0,1539443551010,https://earthquake.usgs.gov/earthquakes/eventp...
101,NaN,NaN,73096756,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01355,NaN,185.0,",nc73096756,",0.59,md,...,",nc,",automatic,1539435391320,"M 0.6 - 8km ESE of Mammoth Lakes, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539439802162,https://earthquake.usgs.gov/earthquakes/eventp...
102,NaN,NaN,37388730,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.02987,NaN,39.0,",ci37388730,",1.33,ml,...,",ci,",automatic,1539435293090,"M 1.3 - 8km ENE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1539435940470,https://earthquake.usgs.gov/earthquakes/eventp...

### Selecting rows and columns with chaining

In [10]:
df[['title', 'time']][100:103]

                                    title           time
100      M 1.2 - 25km NW of Ester, Alaska  1539435449480
101  M 0.6 - 8km ESE of Mammoth Lakes, CA  1539435391320
102        M 1.3 - 8km ENE of Aguanga, CA  1539435293090

Order doesn't matter here:

In [11]:
df[100:103][['title', 'time']].equals(
    df[['title', 'time']][100:103]
)

True

## Indexing

So we know how to select rows and columns, but can we update values? Well, if we try using what we have learned we will see the following warning often:

In [12]:
df[110:113]['title'] = df[110:113]['title'].str.lower()

c:\users\molinstefanie\packt\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Note that it worked here, but pandas says we were setting a value on a copy of a slice and that we should use `loc` instead (topic of the following section):

In [13]:
df[110:113]['title']

110               m 1.1 - 35km s of ester, alaska
111    m 1.9 - 93km wnw of arctic village, alaska
112      m 0.9 - 20km wsw of smith valley, nevada
Name: title, dtype: object

Now if we do this with `loc` as the warning suggests, everything goes smoothly. Note we have to lower the end index by one since `loc` is inclusive of endpoints:

In [14]:
df.loc[110:112, 'title'] = df.loc[110:112, 'title'].str.lower()
df.loc[110:112, 'title']

110               m 1.1 - 35km s of ester, alaska
111    m 1.9 - 93km wnw of arctic village, alaska
112      m 0.9 - 20km wsw of smith valley, nevada
Name: title, dtype: object

### Location Indexing with `loc`
Selection of the format `loc[row_indexer, column_indexer]` where `:` can be used to select all:

In [15]:
df.loc[:,'title']

0                           M 1.4 - 9km NE of Aguanga, CA
1                           M 1.3 - 9km NE of Aguanga, CA
2                           M 3.4 - 8km NE of Aguanga, CA
3                           M 0.4 - 9km NE of Aguanga, CA
4                           M 2.2 - 10km NW of Avenal, CA
5       M 2.6 - 55km ESE of Punta Cana, Dominican Repu...
6                    M 1.7 - 105km W of Talkeetna, Alaska
7                        M 1.1 - 10km NW of Parkfield, CA
8                       M 0.9 - 6km NW of The Geysers, CA
9                 M 4.7 - 219km SSE of Saparua, Indonesia
10                         M 0.5 - 10km NE of Aguanga, CA
11      M 2.8 - 53km SE of Punta Cana, Dominican Republic
12                          M 0.5 - 9km NE of Aguanga, CA
13             M 4.5 - 120km SSW of Banda Aceh, Indonesia
14                       M 2.1 - 14km NW of Parkfield, CA
15           M 2.0 - 156km WNW of Haines Junction, Canada
16                       M 0.7 - 2km N of The Geysers, CA
17                  M 1.7 - 2km S of Maricao, Puerto Rico
18                   M 2.0 - 57km SSW of Kaktovik, Alaska
19                        M 0.9 - 4km ENE of Calimesa, CA
20      M 2.8 - 61km N of Tierras Nuevas Poniente, Pue...
21                     M 1.7 - 64km SSW of Salcha, Alaska
22                     M 0.8 - 4km NW of San Clemente, CA
23                    M 0.6 - 27km E of Coso Junction, CA
24                       M 0.7 - 6km SSE of Idyllwild, CA
25                       M 2.1 - 14km NW of Parkfield, CA
26            M 2.8 - 111km NNW of Arctic Village, Alaska
27              M 1.1 - 43km S of Redoubt Volcano, Alaska
28                M 1.8 - 86km SW of Anchor Point, Alaska
29                       M 0.9 - 15km NW of Parkfield, CA
                              ...
9302                    M 1.4 - 6km NW of The Geysers, CA
9303           M 1.3 - 78km WNW of Arctic Village, Alaska
9304     M 5.1 - 34km NW of Finschhafen, Papua New Guinea
9305            M -0.3 - 49km W of Tanaga Volcano, Alaska
9306          M 2.9 - 80km NW of San Antonio, Puerto Rico
9307          M 2.4 - 69km NW of San Antonio, Puerto Rico
9308                  M 2.1 - 70km NW of Nikolski, Alaska
9309             M 4.8 - 11km ESE of Rotorua, New Zealand
9310            M 1.1 - 59km NNE of Sutton-Alpine, Alaska
9311                       M 3.3 - 68km W of Petrolia, CA
9312           M 2.5 - 134km NW of Arctic Village, Alaska
9313                 M 1.5 - 88km ESE of Whittier, Alaska
9314          M 2.0 - 132km WNW of Arctic Village, Alaska
9315         M 2.7 - 36km NNW of San Antonio, Puerto Rico
9316                    M 3.1 - 5km SW of Delta, B.C., MX
9317                    M 2.6 - 4km SW of Delta, B.C., MX
9318                      M 1.1 - 11km E of Healy, Alaska
9319    M 4.4 - 58km W of San Antonio de los Cobres, A...
9320                    M 2.8 - 8km NW of Delta, B.C., MX
9321               M 4.3 - 19km NE of Cateel, Philippines
9322                 M 0.4 - 8km ENE of Mammoth Lakes, CA
9323                 M 0.6 - 4km ENE of Mammoth Lakes, CA
9324                          M 1.1 - 2km W of Julian, CA
9325                        M 0.5 - 4km WNW of Julian, CA
9326                          M 1.8 - 4km W of Julian, CA
9327                 M 0.6 - 9km ENE of Mammoth Lakes, CA
9328                          M 1.0 - 3km W of Julian, CA
9329             M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330                        M 1.1 - 9km NE of Aguanga, CA
9331                        M 0.7 - 9km NE of Aguanga, CA
Name: title, Length: 9332, dtype: object

We can use `loc` to select specific rows and columns without chaining. If we use row numbers with `loc`, they are now **inclusive** of the end index:

In [16]:
df.loc[10:15, ['title', 'mag']]

                                                title   mag
10                     M 0.5 - 10km NE of Aguanga, CA  0.50
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77
12                      M 0.5 - 9km NE of Aguanga, CA  0.50
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50
14                   M 2.1 - 14km NW of Parkfield, CA  2.13
15       M 2.0 - 156km WNW of Haines Junction, Canada  2.00

#### Integer Location Indexing with `iloc`
Exclusive of the endpoint just as Python slicing of lists:

In [17]:
df.iloc[10:15, [19, 8]]

                                                title   mag
10                     M 0.5 - 10km NE of Aguanga, CA  0.50
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77
12                      M 0.5 - 9km NE of Aguanga, CA  0.50
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50
14                   M 2.1 - 14km NW of Parkfield, CA  2.13

We can use slicing syntax with `iloc` for both rows and columns:

In [18]:
df.iloc[10:15, 8:10]

     mag magType
10  0.50      ml
11  2.77      md
12  0.50      ml
13  4.50      mb
14  2.13      md

When using `loc`, we can slice on column names. This will be inclusive of the endpoint because you can't be expected to know what the next column name will be. As such, we have multiple ways to achieve the same end goal:

In [19]:
df.iloc[10:15, 8:10].equals(
    df.loc[10:14, 'mag':'magType']
)

True

Note there is also the `take()` method for There is also a `take()` method, which allows us to select specific row numbers (essentially `iloc` without having to specify the columns). For example, we can select the rows in positions 1 and 3:

In [20]:
df.loc[10:14, 'mag':'magType'].take([1, 3])

     mag magType
11  2.77      md
13  4.50      mb

### Looking up scalar values
We used `loc` and `iloc` to grab subsets of the dataframe. However, if we are just interested in the specific value at a given [row, column], then we can use `iat` and `at`. 

We use `at` with labels:

In [21]:
df.at[10, 'mag']

0.5

...and `iat` with integer indices:

In [22]:
df.iat[10, 8]

0.5

## Filtering
We can filter our dataframes using a **Boolean mask**, which can be made as follows:

In [23]:
df.mag > 2

0       False
1       False
2        True
3       False
4        True
5        True
6       False
7       False
8       False
9        True
10      False
11       True
12      False
13       True
14       True
15      False
16      False
17      False
18      False
19      False
20       True
21      False
22      False
23      False
24      False
25       True
26       True
27      False
28      False
29      False
        ...
9302    False
9303    False
9304     True
9305    False
9306     True
9307     True
9308     True
9309     True
9310    False
9311     True
9312     True
9313    False
9314    False
9315     True
9316     True
9317     True
9318    False
9319     True
9320     True
9321     True
9322    False
9323    False
9324    False
9325    False
9326    False
9327    False
9328    False
9329     True
9330    False
9331    False
Name: mag, Length: 9332, dtype: bool

To use a mask for selection, we simply place it inside the brackets:

In [24]:
df[df.mag >= 7.0]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
837,green,4.1,1000haa3,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.763,3.0,14.0,",us1000haa3,pt18283003,at00pgehsk,",7.0,mww,...,",us,pt,at,",reviewed,1539204500290,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",600.0,1539378744253,https://earthquake.usgs.gov/earthquakes/eventp...
5263,red,8.4,1000h3p4,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.589,18.0,27.0,",us1000h3p4,us1000h4p4,",7.5,mww,...,",us,us,",reviewed,1538128963480,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",480.0,1539123134531,https://earthquake.usgs.gov/earthquakes/eventp...

We can use masks with `loc`:

In [25]:
df.loc[
    df.mag >= 7.0,
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
837,green,7.0,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

Masks can be created using multiple criteria when combined with bitwise operators `&` for AND and `|` for OR. We must also surround each criterion with parentheses. We can't use `and`/`or` here because we need to evaluate row by row:

In [26]:
df.loc[
    (df.tsunami == 1) & (df.alert == 'red'),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

An example with an OR condition, which is must less restrictive:

In [27]:
df.loc[
    (df.tsunami == 1) | (df.alert == 'red'),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
36,NaN,5.00,mww,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,earthquake
118,green,6.70,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
501,green,5.60,mww,"M 5.6 - 128km SE of Kimbe, Papua New Guinea",1,earthquake
799,green,6.50,mww,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,earthquake
816,green,6.20,mww,"M 6.2 - 94km SW of Kokopo, Papua New Guinea",1,earthquake
826,green,5.90,mww,"M 5.9 - 117km ESE of Kimbe, Papua New Guinea",1,earthquake
829,green,5.90,mww,"M 5.9 - 113km ESE of Kimbe, Papua New Guinea",1,earthquake
837,green,7.00,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake
838,green,6.10,mb,"M 6.1 - 132km E of Kimbe, Papua New Guinea",1,earthquake
1015,green,5.00,ml,"M 5.0 - 61km SSW of Chignik Lake, Alaska",1,earthquake
1018,NaN,5.30,mb,"M 5.3 - 65km NNW of Lae, Papua New Guinea",1,earthquake
1056,NaN,5.40,mww,"M 5.4 - 62km NW of Finschhafen, Papua New Guinea",1,earthquake
1273,green,4.00,ml,"M 4.0 - 71km SW of Kaktovik, Alaska",1,earthquake
1406,NaN,5.10,mb,"M 5.1 - 13km E of Palu, Indonesia",1,earthquake
1698,NaN,5.10,mww,"M 5.1 - 14km ENE of Sambelia, Indonesia",1,earthquake
1795,green,4.00,ml,"M 4.0 - 60km WNW of Valdez, Alaska",1,earthquake
2034,NaN,5.00,mww,"M 5.0 - 11km ESE of Kimbe, Papua New Guinea",1,earthquake
2414,green,3.83,mw,"M 3.8 - 5km SW of Tres Pinos, CA",1,earthquake
2752,green,4.00,ml,"M 4.0 - 67km SSW of Kaktovik, Alaska",1,earthquake
3112,NaN,5.30,mb,"M 5.3 - 29km SSW of Nggongi, Indonesia",1,earthquake
3150,NaN,5.00,mww,"M 5.0 - 38km S of Nggongi Satu, Indonesia",1,earthquake
3605,NaN,5.00,mb,"M 5.0 - 50km WSW of Kasiguncu, Indonesia",1,earthquake
3609,green,5.60,mww,"M 5.6 - 33km SSW of Nggongi Satu, Indonesia",1,earthquake
3692,green,5.90,mww,"M 5.9 - 30km SSW of Nggongi, Indonesia",1,earthquake
3699,green,6.00,mww,"M 6.0 - 33km S of Nggongi Satu, Indonesia",1,earthquake
3707,NaN,5.20,mww,"M 5.2 - 25km N of Palu, Indonesia",1,earthquake
3709,NaN,5.40,mb,"M 5.4 - 31km S of Nggongi Satu, Indonesia",1,earthquake
3714,NaN,5.00,mww,"M 5.0 - 33km SSW of Nggongi Satu, Indonesia",1,earthquake
4027,NaN,5.10,mww,"M 5.1 - 101km NNW of Palu, Indonesia",1,earthquake
4154,NaN,5.00,mb,"M 5.0 - 106km NNW of Lae, Papua New Guinea",1,earthquake
...,...,...,...,...,...,...
4827,NaN,5.10,mww,"M 5.1 - 49km W of Kasiguncu, Indonesia",1,earthquake
4888,NaN,5.10,mb,"M 5.1 - 53km W of Kasiguncu, Indonesia",1,earthquake
4988,green,4.41,mw,"M 4.4 - 1km SE of Delta, B.C., MX",1,earthquake
5054,NaN,5.00,mww,"M 5.0 - 55km WSW of Kasiguncu, Indonesia",1,earthquake
5146,NaN,5.00,mb,"M 5.0 - 45km SSW of Palu, Indonesia",1,earthquake
5179,NaN,5.40,mb,"M 5.4 - 113km NNW of Palu, Indonesia",1,earthquake
5195,NaN,5.20,mb,"M 5.2 - 58km S of Palu, Indonesia",1,earthquake
5196,green,5.70,ms_20,"M 5.7 - 107km N of Palu, Indonesia",1,earthquake
5214,NaN,5.10,mb,"M 5.1 - 47km N of Palu, Indonesia",1,earthquake
5240,NaN,5.20,mb,"M 5.2 - 68km SSE of Palu, Indonesia",1,earthquake
5244,green,5.70,mb,"M 5.7 - 17km NNE of Palu, Indonesia",1,earthquake
5245,NaN,5.10,mb,"M 5.1 - 42km N of Palu, Indonesia",1,earthquake
5250,NaN,5.40,mb,"M 5.4 - 24km N of Palu, Indonesia",1,earthquake
5256,green,5.80,mb,"M 5.8 - 21km SSE of Palu, Indonesia",1,earthquake
5258,green,5.70,mb,"M 5.7 - 17km E of Palu, Indonesia",1,earthquake
5259,green,5.80,mb,"M 5.8 - 99km N of Palu, Indonesia",1,earthquake
5263,red,7.50,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake
5289,NaN,5.00,mb,"M 5.0 - 60km N of Palu, Indonesia",1,earthquake
5321,NaN,5.40,mb,"M 5.4 - 77km NNE of Palu, Indonesia",1,earthquake
5323,green,6.10,mww,"M 6.1 - 55km NNW of Palu, Indonesia",1,earthquake
5574,NaN,5.20,mww,"M 5.2 - 91km WNW of Panguna, Papua New Guinea",1,earthquake
5790,NaN,5.10,mb,"M 5.1 - 117km N of Saumlaki, Indonesia",1,earthquake
6004,NaN,5.10,mww,"M 5.1 - 19km WNW of Langsa, Indonesia",1,earthquake
6134,NaN,5.00,mww,"M 5.0 - 85km W of Manokwari, Indonesia",1,earthquake
7160,NaN,5.00,mb,"M 5.0 - 10km WSW of Kainantu, Papua New Guinea",1,earthquake
8561,NaN,5.40,mb,"M 5.4 - 228km S of Taron, Papua New Guinea",1,earthquake
8624,NaN,5.10,mb,"M 5.1 - 278km SE of Pondaguitan, Philippines",1,earthquake
9133,green,5.10,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake
9175,NaN,5.20,mb,"M 5.2 - 126km N of Dili, East Timor",1,earthquake
9304,NaN,5.10,mb,"M 5.1 - 34km NW of Finschhafen, Papua New Guinea",1,earthquake

Masks can be any criteria that results in a Boolean. For example, we can select all earthquakes with the string `Alaska` in the `place` column with a non-null value for the `alert` column. To get non-nulls, we can use the `isnull()` method with the pandas negation operator (`~`) or the `notnull()` method:

In [28]:
df.loc[
    (df.place.str.contains('Alaska')) & (df.alert.notnull()),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
1015,green,5.0,ml,"M 5.0 - 61km SSW of Chignik Lake, Alaska",1,earthquake
1273,green,4.0,ml,"M 4.0 - 71km SW of Kaktovik, Alaska",1,earthquake
1795,green,4.0,ml,"M 4.0 - 60km WNW of Valdez, Alaska",1,earthquake
2752,green,4.0,ml,"M 4.0 - 67km SSW of Kaktovik, Alaska",1,earthquake
3260,green,3.9,ml,"M 3.9 - 44km N of North Nenana, Alaska",0,earthquake
4101,green,4.2,ml,"M 4.2 - 131km NNW of Arctic Village, Alaska",0,earthquake
6897,green,3.8,ml,"M 3.8 - 80km SSW of Kaktovik, Alaska",0,earthquake
8524,green,3.8,ml,"M 3.8 - 69km SSW of Kaktovik, Alaska",0,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake

We can even use regular expressions here:

In [29]:
df.loc[
    (df.place.str.contains(r'CA|California$')) & (df.mag > 3.8),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
1465,green,3.83,mw,"M 3.8 - 109km WNW of Trinidad, CA",0,earthquake
2414,green,3.83,mw,"M 3.8 - 5km SW of Tres Pinos, CA",1,earthquake

We can use the `between()` method to turn 2 individual checks (is less than or equal some maximum value and is greater than or equal to some minimum value) into a single one. Note this is inclusive of the endpoint by default:

In [30]:
df.loc[
    df.mag.between(6.5, 7.5),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
118,green,6.7,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
799,green,6.5,mww,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,earthquake
837,green,7.0,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake
4363,green,6.7,mww,"M 6.7 - 263km NNE of Ndoi Island, Fiji",1,earthquake
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

We can use the `isin()` method to check for membership in a list of values:

In [31]:
df.loc[
    df.alert.isin(['orange', 'red']),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

We can grab the index of the minimum and maximum values of a given column and use those to select the entire row where they occur:

In [32]:
[df.mag.idxmin(), df.mag.idxmax()]

[2409, 5263]

In [33]:
df.loc[
    [df.mag.idxmin(), df.mag.idxmax()],
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
2409,NaN,-1.26,ml,"M -1.3 - 41km ENE of Adak, Alaska",0,earthquake
5263,red,7.50,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

Using the `filter()` method, we can grab columns of a dataframe by passing a list to `items`:

In [34]:
df.filter(items=['mag', 'magType']).head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

We can also grab all the columns that contain a string with the `like` parameter:

In [35]:
df.filter(like='mag').head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

We can even use regular expressions; here, we select any columns that start with `t`:

In [36]:
df.filter(regex=r'^t').head()

,time,title,tsunami,type,types,tz
0,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0
1,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0
2,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0
3,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0
4,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0

We can also use `filter()` along the rows, by passing in `axis=0`. Here we will use the `place` column as the index (we will cover `set_index()` in [chapter 3](https://github.com/stefmolin/Hands-On-Data-Analysis-with-Pandas/tree/master/ch_03)):

In [37]:
df.set_index('place').filter(like='Japan', axis=0).filter(items=['mag', 'magType', 'title']).head()

                             mag magType                                title
place
160km NNW of Nago, Japan     4.6      mb     M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan      5.2     mww      M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan   4.5     mwr   M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan     4.7      mb     M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan  4.6      mb  M 4.6 - 53km ESE of Kamaishi, Japan

This also works on `Series` objects and will run on the index:

In [38]:
df.set_index('place').title.filter(like='Japan').head()

place
160km NNW of Nago, Japan          M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan            M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan      M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan          M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan    M 4.6 - 53km ESE of Kamaishi, Japan
Name: title, dtype: object